
body{
    background-color: burlywood;
}
.container{
    width: 1000px;
    height: auto;
    border: 2px solid #661941;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px;
}
.page-header{
    text-align: center;
    text-shadow: 2px 2px 2px;
    color: #d2c816;
    background-color: #661941;
}
h4{
    color: #661941; 
    text-align: justify;


}
.misbordes{
    border: 2px groove #661941;
    border-radius: 4px;
}
.boton{
    color: #d2c816;
    background-color: #661941;
    
}
.boton: hover{
    background-color: #661941;
}


.figura-uva{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 20px;
    
}
.figura-uva img{
    width:100%;
}